<!-- meta -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Author" content="김도형" />
<meta name="Description" content="MrLizard 게시판연습입니다." />
<meta name="Keywords" content="키워드 입력" />
<meta name="generator" content="VSCode" />
<meta name="robots" content="all" />
<meta name="format-detection" content="telephone=no" />

<!-- link tag -->
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/master.css" />

<!-- web font -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
/>

<!-- js -->
<script src="/js/main.js" defer></script>

<title>게시판 연습</title>
