<!-- meta -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="Author" content="김도형" />
<meta name="Description" content="MrLizard 게시판연습입니다." />
<meta name="Keywords" content="키워드 입력" />
<meta name="generator" content="VSCode" />
<meta name="robots" content="all" />
<meta name="format-detection" content="telephone=no" />

<!-- link tag -->
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
<link rel="icon" type="image/x-icon" href="/img/favicon.ico" />

<!-- css -->
<link rel="stylesheet" type="text/css" href="/css/master.css" />

<!-- web font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap"
  rel="stylesheet"
  <!--
  js
  --
/>
<script src="/js/main.js" defer></script>

<title>게시판 연습</title>
