<nav class="navbar">
  <div class="container">
    <a class="logo">
      <img src="/img/logo.png" alt="logo" class="logo__img" />
      <span>LIZZ</span>
    </a>
    <ul class="menu">
      <li class="item"><a href="#">HOME</a></li>
      <li class="item"><a href="#">ABOUT</a></li>
      <li class="item"><a href="#">CONTACT</a></li>
    </ul>
  </div>
</nav>
