// font size
$sizeRegular: 18px;
$sizeLarge: 24px;
$sizeLarger: 32px;

// font weight
$weightLight: 300;
$weightRegular: 400;
$weightBold: 600;
$weightBolder: 800;

// font color
$colorWhite: #f5f6fa;
