// font size
$sizeSmall: 14px;
$sizeRegular: 18px;
$sizeLarge: 24px;
$sizeLarger: 32px;

// font weight
$weightLight: 300;
$weightRegular: 400;
$weightBold: 600;
$weightBolder: 800;

// color
$colorWhite: #f5f6fa;
$colorLightGrey: #dfe4ea;
$colorBlue: #007bff;

// padding
$borderTextPaddingLeft: 10px;
$trInnerPadding: 5px;
