@import "./reset";
@import "./font";
@import "./nav";
@import "./board";

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.notice {
  background-color: lightgray;
  margin: 20px 0;
  padding: 50px 50px;
  border-radius: 10px;

  h1 {
    font-weight: $weightBold;
    font-size: $sizeLarger;
  }

  p {
    font-size: $sizeRegular;
    margin: 15px 0;
  }
}
