<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <div class="notice">
        <h1>ABOUT</h1>
        <p>이 사이트는 MrLizard의 연습용 게시판입니다.</p>
      </div>
    </div>
  </body>
</html>
