<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container users">
      <h2 class="mainTitle">유저</h2>

      <ul class="user-list">
        <% if(users == null || users.length == 0){ %>
        <li class="user-item">There is no users yet.</li>
        <% } %> <% users.forEach(user => { %>
        <li class="user-item">
          <a href="/users/<%= user.username %>"><%= user.username %></a>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
